.dark{
    background-color: black;
}
.dark h1{
    color: white;
}
.dark button{
    background-color: yellow;
    color: blue;
}
.light{
    background-color: rgb(222, 245, 14);
}
.light h1{
    color: white;
}
.light button{
    background-color: aqua;
    color: black;
}